body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #7c7878;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
h1 {
font-size: 20px;
line-height: 30px;
}

h2 {
font-size: 14px;
line-height: 20px;
margin-bottom: 10px;
}

a {
text-decoration: none;
color: #2dc4b2;
}

#console {
position: absolute;
width: 240px;
height: 550px;
margin: 10px;
padding: 10px 20px;
background-color: white;
}
.session {
margin-bottom: 20px;
}

.row {
height: 12px;
width: 100%;
}

.colors {
background: linear-gradient(to right, #1a9850, #91cf60, #d9ef8b, #fee08b, #fc8d59, #d73027);
margin-bottom: 5px;
}

.label {
width: 15%;
display: inline-block;
text-align: center;
}
.marker {
background-image: url('../icon/incident.png');
background-size: cover;
width: 25px;
height: 25px;
border-radius: 50%;
cursor: pointer;
}
.overlay {
    position: absolute;
    top: 525px;
    left: 10px;
}

.overlay button {
    font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #7c7878;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color: #4ea0da;
}
.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
height: 280px;
background-color: #f1f1f1;
}

.button2 {
  background-color: #7c7878;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
